
<%- include("navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>
<form action="/admin/update_slider_images" enctype="multipart/form-data" method="post">
    <div class="container bg-white p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold text-dark heading">Edit Slider Images</h1>
            </div>
            <input type="hidden" name="slider_image_id" value="<%=edit_slider_data[0].slider_image_id%>">
            <div class="col-md-6">
                <label for="">Image</label>
                <input type="file" name="slider_image" class="form-control border border-dark">
            </div>
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            </div>
            <div class="col-md-6">
                <img src="/encoded_img/<%=edit_slider_data[0].slider_image%>" alt="" class="img-fluid w-100 h-100 mt-2">
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs")%>