<%- include("navbar.ejs")%>

<div class="container p-5 bg-white">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold text-dark">Welcome to Admin Panel</h1>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>
