<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JijaiMasale</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/apple-touch-icon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/admin">
            <img src="/apple-touch-icon.png" alt="" style="height: 50px;width: 50px;">
          </a>
          <a class="navbar-brand brand-logo-mini text-white" href="/admin">
            <img src="/apple-touch-icon.png" alt=""  style="height: 50px;width: 50px;">
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-right">  
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="/apple-touch-icon.png" alt="image">
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Team 3</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                <div class="p-3 text-center bg-primary">
                  <img class="img-avatar img-avatar48 img-avatar-thumb" src="/apple-touch-icon.png" alt="">
                </div>
                <div class="p-2">
                  <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Actions</h5>
                  <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                    <span>Lock Account</span>
                    <i class="mdi mdi-lock ml-1"></i>
                  </a>
                  <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="/admin/logout">
                    <span>Log Out</span>
                    <i class="mdi mdi-logout ml-1"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/basic_information">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Basic Information</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                <span class="menu-title">Home</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/slider">Slider</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/our_services">Services</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/why_we_are_best_choice">Why We are best choice</a></li>
                  <li class="nav-item"><a class="nav-link" href="/admin/what_we_do_title">What We Do Title</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/what_we_do">What We Do</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/about_us">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">About Us</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/quantity&specification">Quantity And Specifications</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/description">Description</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/red_chilli">Red Chilli Powder</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Turmeric_Powder">Turmeric Powder</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Coriander_Powder">Coriander Powder</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Chicken_Masala">Chicken Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Mutton_Masala">Mutton Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Kanda_Lasun_Masala">Kanda Lasun Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Kitchen_King_Masala">Kitchen King Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Kala_Masala">Kala Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Biryani_Masala">Biryani Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Egg_Cury_Masala">Egg Cury Masala</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Instant_Gravy">Instant Gravy Powder</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/Our_Products">Our Products</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/gallary">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Gallary</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/contact_us">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Contact Us</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
         