<%- include("../../navbar.ejs")%>
<style>
    .heading {
        background-image: linear-gradient(45deg, #44CE42 70%, #f34040 30%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: white;
    }
</style>
<form action="./update_quantity" enctype="multipart/form-data" method="post">
    <div class="container-fluid p-5 bg-white">
        <input type="hidden" name="quantity_id" class="form-control border-dark" value="<%=quantitydata[0].quantity_id%>">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Edit Quantity</h2>
            </div>
             <div class="col-md-6">
                Quantity
                <input type="text"  name="quantity" class="form-control border-dark"  value="<%=quantitydata[0].quantity%>">
             </div>  
            <div class="col-md-2 mt-4 text-center">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<%- include("../../footer.ejs")%>